{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<style>
		.login {
			width: 400px;
			margin: 16px auto;
			font-size: 16px;
		}

		/* Reset top and bottom margins from certain elements */
		.login-header,
		.login p {
			margin-top: 0;
			margin-bottom: 0;
		}


		.login-header {
			background: #28d;
			padding: 20px;
			font-size: 1.4em;
			font-weight: normal;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
		}

		.login-container {
			background: #ebebeb;
			padding: 12px;
		}

		/* Every row inside .login-container is defined with p tags */
		.login p {
			padding: 12px;
		}

		.login input {
			box-sizing: border-box;
			display: block;
			width: 100%;
			border-width: 1px;
			border-style: solid;
			padding: 16px;
			outline: 0;
			font-family: inherit;
			font-size: 0.95em;
		}

		.login input[type="email"],
		.login input[type="password"] {
			background: #fff;
			border-color: #bbb;
			color: #555;
		}

		/* Text fields' focus effect */
		.login input[type="email"]:focus,
		.login input[type="password"]:focus {
			border-color: #888;
		}

		.login button[type="submit"] {
			height: 50px;
			margin-top: 20px;
			background: #28d;
			border-color: transparent;
			color: #fff;
			cursor: pointer;
		}

		.login button[type="submit"]:hover {
			background: #17c;
		}

		/* Buttons' focus effect */
		.login button[type="submit"]:focus {
			border-color: #05a;
		}
	</style>
	<div class="login">
		<h1 class="login-header">Log in</h1>
		<form method="post" class="login-container">
			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div>
					Vous êtes connecté en tant que 
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}


			<p>Email</p><input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>
			<p>Mot de passe</p><input type="password" name="password" id="inputPassword" placeholder="Password" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div>
				<button type="submit" class="button-submit">Se connecter</button>
		</form>
		</div>
	{% endblock %}
