{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<style>
		.container{
			margin-top: 30px;
		}

		.images {
			border-radius: 4px;
			padding: 5px;
			width: 30vh;
		}
	</style>

	{% for article in articles %}
		<div class="container">
			<div class="mb-3 card">
				<div class="card-body">
					<h5 class="card-title">{{ article.titre }}</h5>
					<p><img class="images" src="{{vich_uploader_asset(article, 'imageFile') }}" alt=" {{ article.titre }}"></p>
					<p class="card-text">{{article.content|raw }}</p>
					<p class="card-text">
						{% for categorie in article.categories %}
							<span class="badge bg-info text-dark">{{categorie.name}}</span>
						{% endfor %}}</p>
					<p class="card-text">
						<small class="text-muted">Créé le
							{{article.createdAt|date('d/m/Y à h:i')}}</small>
					</p>
				</div>
			</div>
		</div>
	{% endfor %}

	<h5 class="pagination">{{ knp_pagination_render(articles)}}</h5>
{% endblock %}
